body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #bbd4df;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  max-width: 1280px;
  padding: 2rem 1rem;
  text-align: center;
  color: black;
}

.google-login-button {
  max-width: 300px;
  margin: 0 auto;
}

.transactions-page {
  padding: 0;
  margin-top: 0;
}

.card-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  
}

.card {
  background-color: rgb(237, 242, 243);
  min-width: 200px;
  max-width: 300px;
  border:black 2px solid;
  margin: 30px;
  display:flex;
  justify-content: center;

}

.card-title {
  margin-bottom: 0.5rem;
}

.amount {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.amount-positive {
  color: #198754;
}

.amount-negative {
  color: #dc3545;
}

.submit-button, .add-transaction-button, .delete, .edit {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 0.5rem;
  padding: 0.5rem;
}


